.undo-redo-manager {

    .undo-redo {
        background: @soda-cyan;

        .undo-redo-message-wrapper {
            color: @soda-black;
        }

        .undo-redo-action-wrapper {
            .undo-redo-action-text {
                color: @soda-black;
            }

            .content-mask {
                background-color: @soda-black;
            }
        }
    }
}

.notifications-sticky {
    .notification-developer {
        background-color: @soda-purple;
    }
}

.fixed-popover {
    color: @soda-white;
}

.tutorial-tip {
    background-image: none;
    background-color: @soda-purple;
    border-color: @soda-white;

    &.visible:after {
        border-color: @soda-purple;
    }
}
